<h1>Editing Engineer Availability</h1>

<%= render 'form', engineer_availability: @engineer_availability %>

<%= link_to 'Show', @engineer_availability %> |
<%= link_to 'Back', engineer_availabilities_path %>
