<br>
<div class="container">
  <div class="card card-custom gutter-b border-light">
    <div class="card-header bg-transparent">
      <div class="card-title">
        <div class="row">
          <div class="col-12">
            <h3 class="card-label">Nuevo Ingeniero / Disponibilidad</h3>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="card-body bg-light bg-gradient shadow">
    <br>
    <%= render 'form', engineer_availability: @engineer_availability %>
</div>